<%- include('../partials/newsheader') %>

<div class="column">
<center><h2>All Blog Posts</h2></center>
<hr class="dotted">
<body>
  <div id="blog-post">
    <% blogs.forEach(blog => { %>
    <tr>
      <th><strong>Title:</strong></th>
      <td><%= blog.title %></td>
      <br />
      <th><strong>Author:</strong></th>
      <td><%= blog.author %></td>
      <br />
      <th><strong>Date Posted:</strong></th>
      <td><%= blog.createdAt.toLocaleDateString() %></td>
      <br />
      <!--The Blog Index page will just show the title, author and date posted. 
          Click "Read full blog" to read the content.
          This should help de-clutter the Blog Index Page-->
      <!--<td><%= blog.content %></td><br> -->
      <td><a href="/blogs/<%= blog._id %>">Read Full Blog</a></td>
      <br>
      <br>
    </tr>
    <% }) %>
  </div>
  <a href="/blogs/new">Create a blog post</a>
</body>
</div>

<div class="column">
  <!-- this is the RIGHT column. DO NOT REMOVE FOR REMINDER PURPOSES :D -->
<h2>Upcoming Games</h2>
<div class="upcominggames">
<hr class="dotted">
<h3>Alone In The Dark: January 16, 2024</h3>
<a href="https://www.gamespot.com/games/alone-in-the-dark/"><img alt="alone in the dark" src="https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Alone_in_the_dark_2022.jpg/220px-Alone_in_the_dark_2022.jpg"></a></br>
<hr class="dotted">
<h3>Prince of Persia: The Lost Crown: January 18, 2024</h3>
<a href="https://www.gamespot.com/games/prince-of-persia-the-lost-crown/"><img alt="under night" src="https://upload.wikimedia.org/wikipedia/en/a/a0/Prince_of_Persia_The_Lost_Crown_cover_art.jpg"></a>
<hr class="dotted">
<h3>Tekken 8: January 26, 2024</h3>
<a href="https://www.gamespot.com/games/tekken-8/"><img alt="tekken8" src="https://upload.wikimedia.org/wikipedia/en/b/b4/Tekken_8_cover_art.jpg"></a>

</div> 