<%- include('../partials/header') %>

<div id="blog-details">
  <div id="blog-image">
    <% if (blog.imageUrl) { %>
    <img src="<%= blog.imageUrl %>" alt="Blog Image" />
  </div>
  <% } %>
  <strong>Title:</strong>
  <%= blog.title %>
  <br />

  <strong>Author:</strong>
  <%= blog.author %>
  <br />
  <strong>Date Posted:</strong>
  <%= blog.createdAt.toLocaleDateString() %>
  <br />
  <br />
  <%= blog.content %>
</div>

<%- include('../partials/footer') %>
