<%- include('../partials/blankheader') %>
<div id="blog-details">
  <% if (blog.imageUrl) { %>
  <tr>
    <td><img src="<%= blog.imageUrl %>" alt="Blog Image" /></td>
  </tr>
  <% } %>
  <th><strong>Title:</strong></th>
  <td><%= blog.title %></td>
  <br />

<div id="blog-details">
  <h2><%= blog.title %></h2>
  <h5>
   <strong>Written By: <%= blog.author %> </strong> <%= blog.createdAt.toLocaleDateString() %>
  </h5>

  <div id="blog-image">
    <% if (blog.imageUrl) { %>
    <img src="<%= blog.imageUrl %>" alt="Blog Image" />
  </div>
  <% } %>
  <br />
  <br />
  <%= blog.content %>
</div>

<%- include('../partials/footer') %>
