<%- include('./partials/header') %>

<h2>Search Results</h2>
<ul>
  <% searchResults.forEach(result => { %>
    <% if (result.imageUrl) { %>
    <img src="<%= result.imageUrl %>" alt="<%= result.title %> Image" />
    <% } else { %>
    <p>No Image</p>
    <% } %>
    <br>
    <h3><%= result.title %></h3>:
    <a href="/videogames/<%= result._id %>">Details</a>

  <% }) %>
</ul>

<%- include('./partials/footer') %>






