<%- include('../partials/blankheader') %>

<table id="index" border="1">
 <h2>All Games</h2> 
  <tr>
    <th id="titles">
    <th style="color: white">Title</th>
    <th style="color: white">Genre</th>
    <th style="color: white">Platform</th>
    <th style="color: white">Release Date</th>
    <th style="color: white">ESRB Rating</th>
    <th style="color: white">Details</th>
  </th>
  </tr>
  <% games.forEach(game => { %>
  <tr>
    <td>
      <% if (game.imageUrl) { %>
      <img src="<%= game.imageUrl %>" alt="Videogame Image" />
      <% } %>
    </td>
    <td style="color: white"><%= game.title %></td>
    <td style="color: white"><%= game.genre %></td>
    <td style="color: white"><%= game.platform %></td>
    <td style="color: white"><%= game.released.toLocaleDateString() %></td>
    <td style="color: white"><%= game.ESRB %></td>
    <td style="color: white"><div id="details"><a href="/videogames/<%= game._id %>">Details</a></div></td>
  </tr>
  <% }) %>
</table>