<%- include('../partials/header') %>

    <h1>Game</h1>
    <div>
        <h2><%= game.title %></h2>
        <p>Genre: <%= game.genre %></p>
        <p>Platform: <%= game.platform %></p>
        <p>Release Date: <%= game.released.toDateString() %></p>
        <p>ESRB Rating: <%= game.ESRB %></p>
        <a href="/">Back to Homepage</a>
    </div>


    <h2>Reviews</h2>
  
    <ul>
      <% if (game.reviews.length > 0) { %>
        <% game.reviews.forEach(review => { %>
          <li>
            <td class="review-user"><img alt="avatar" src="<%= review.userAvatar %>" referrerpolicy="no-referrer" ><%= review.userName %></td>
            <h3><%= review.title %></h3>
            <p>Rating: <%= review.rating %></p>
            <p>Content: <%= review.content %></p>
            <!-- <a href="/games/</%= game._id %>/reviews/<%= review._id %>">View Details</a> -->
          </li>
        <% }) %>
      <% } else { %>
        <p>No reviews available for this game.</p>
      <% } %>
    </ul>
    <% if (user) { %>
    <!-- new review link -->
    <a href="/reviews/videogames/<%= game._id %>/reviews/new">Add a Review</a>
    <% } %> 
   
</body>
</html>


<%- include('../partials/footer') %>


